.autocomplete-results {
    border: 1px solid gray;
    width: 100%;
    height: 100px;
    margin: 17px -15px;
    padding: 17px;
    border-radius: 17px;
    font-size: 20px;
}
.autocomplete-results > div {
    color: white;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.autocomplete-results small {
    margin-left: 10px;
}


.autocomplete-results.show {
    display: block;
}
.autocomplete-results.hide {
    display: none;
}
