:root {
    --height-input: 34px;
    --bg-color: #202124;
}

.container {
    margin: 200px auto 0;
}

@media only screen and (max-width: 1200px) {
    .container img {
        width: 150px;
    }
}

input {
    color: white;
    background-color: var(--bg-color);
    margin: 0 -15px;
    width: 100%;
    height: var(--height-input);
    border-radius: calc(var(--height-input) / 2);
    border: 1px solid darkgray;
    padding: 0 17px;
}

input:focus {
    outline: none;
    background-color: #37383b;
}
